.DS_Store
./CFDdata/.DS_Store
./CFDdata/biomassSandMixingFluidizedBed/.DS_Store
./globalMixingIndex/.DS_Store
./globalMixingIndex/scaleDependentMixing/.DS_Store
./globalMixingIndex/mixingIndex/.DS_Store
